
	
.head-banner img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
	.education{
		margin-top: 1px;
		text-align: center;
	}
	.education h3 {
		margin-bottom: 1px;
	}
	.experience{
		margin-top: 10px;
		text-align: center;
	}
	.experience h3 {
		margin-bottom: 10px;
	}
	
	.contact{
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.contact h3 {
		margin-bottom: 10px;
	}
	form {
		width: 100%;
		display: grid;
		grid-template-rows: auto auto ;
		grid-gap: 10px;
	}
	input{
		border-radius: 3px;
		border: 1px solid#354259;
		color: #354259;
	}
	textarea{
		border-radius: 3px;
		border: 1px solid#354259;
		color: #354259;
	}
	.form-control{
		width: 100%;
		display: grid;
		grid-template-columns: 25% auto ;
	}
	.textarea-control{
		width: 100%;
		display: grid;
		grid-template-rows: auto auto ;
	}

